body{background-color:#fff;}
article{width:90.4%;margin:0.24rem auto;}
article h1{font:bold 0.52rem/1rem 'Microsoft YaHei', "Georgia", Helvetica, Arial, sans-serif;color:#333;height:1rem;}
article p{font:0.44rem/0.8rem 'Microsoft YaHei', "Georgia", Helvetica, Arial, sans-serif;color:#4c4c4c;}