@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{ font-family:"微软雅黑";}
ul li{ list-style:none;}
a{ text-decorationnone:none;}
img{ vertical-align:middle;}
.lt{ float:left;}
.rt{ float:right;}
.clear{ clear:both;}
section{ background:#f0eff5; border:1px solid #e6e6e6; border-left:none; border-right:none; width:100%; overflow:hidden; padding-top:0.08rem;}
.sec{ width:97.33%; margin:0 auto; background:#fff; border-radius:0.106rem;  margin-bottom:0.106rem;}
.sec_lt{ margin-left:0.4rem; padding-top:0.36rem; position:relative;}
.docter img{ width:1.853rem; height:1.853rem;}
.evaluate{  padding-bottom:0.266rem; font-size:0.12rem; margin-bottom:0.24rem;}
.evaluate img{ width:1.813rem; position:relative; top:0.2rem;}
.online{ font-size:0.266rem; position:absolute; top:1.933rem; left:1.12rem;}
.online span{ display:inline-block; height:0.346rem; background:#00c20c; color:#fff; width:0.773rem; line-height:0.4rem; text-align:center; border-radius:0.12rem; font-size:0.266rem;}


.sec_rt{ font-size:0.4rem; padding-top:0.36rem; margin-left:0.36rem;}
.rt_one{ font-size:0.453rem; color:#000; line-height:0.453rem;}
.rt_one span{ padding-right:0.293rem;}
.rt_two,.rt_three,.rt_four{ color:#999; font-size:0.373rem; line-height:0.373rem;}
.rt_two{ margin-top:0.213rem;}
.rt_two span{ margin-right:0.15rem;}
.rt_active{ display:inline-block; width:1.68rem; height:0.48rem; text-align:center; line-height:0.54rem; margin-top:0.253rem; background:#f3f8e7; border:1px solid #bbeda0; border-radius:0.04rem; margin-right:0.253rem;}
.rt_four{ margin-top:0.28rem;}
.price{ color:#000;}
.sec_hr{ height:1px; background:#ebebeb; width:92%; margin:0 auto;}


.sec_last{ width:92%; margin:0 auto; margin-top:0.146rem; padding-bottom:0.16rem; height:0.773rem; position:relative;}
.sl_mun,.sl_man{ font-size:0.373rem; color:#999; position:absolute;}
.sl_mun{ top:0.23rem; left:0.053rem; line-height:0.373rem;}
.sl_man{ color:#000; line-height:0.373rem; left:1.94rem; top:0.23rem;}
.sl_sak{ font-size:0.4rem; display:inline-block; width:1.733rem; height:0.773rem; background:#00c20c; color:#fff; text-align:center; line-height:0.4rem; border-radius:0.12rem; float:right; margin-top:0.01rem; position:relative;}
.sl_sak span{ display:inline-block; position:absolute; top:0.215rem; left:0.48rem;}

.introduction{ width:89.46%; margin:0 auto; font-size:0.4rem;}
.int_name{ line-height:0.4rem; margin-top:0.32rem;}
.int_name span{ color:#808080; line-height:0.4rem;}
.int_text{ text-align:justify; color:#4c4c4c; line-height:0.666rem; margin-top:0.227rem;}















































