@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0;}
img{ vertical-align:middle;}
bady{ background:#f0eff5; font-family:"微软雅黑";}
a{ text-decoration:none;}

.map_img{ text-align:center; margin-top:1.68rem;}
.map_img .img{ height:2.96rem;}
.map_img img{ width:2.666rem; height:2.96rem;}

.text{ font-size:0.346rem; text-align:center; line-height:0.346rem;}
.text span{ font-size:0.346rem; line-height:0.346rem; color:#cccccc;}
.text_one{ margin-top:0.413rem;}
.text_two{ margin-top:0.16rem;}




















































